# Ignore config directory
config/

# Ignore student database
data/

# Ignore all files in env directory
env/

# Ignore logs
logs/

# Ignore compiled python files
*.pyc

# Ignore __pycache__ directory
__pycache__/
