attrs==20.3.0
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
colorlog==6.8.2
cryptography==42.0.7
google-api-core==2.17.1
google-api-python-client==2.129.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
googleapis-common-protos==1.63.0
httplib2==0.22.0
idna==3.6
iniconfig==2.0.0
jellyfish==0.11.2
lib50==3.0.11
logging==0.4.9.6
oauthlib==3.2.2
packaging==24.0
pexpect==4.9.0
pluggy==1.5.0
protobuf==4.25.3
ptyprocess==0.7.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.22
pyparsing==3.1.2
pytest==8.3.2
PyYAML==6.0.1
requests==2.31.0
requests-oauthlib==1.4.0
rsa==4.9
setuptools==69.5.1
submit50==3.1.4
termcolor==1.1.0
uritemplate==4.1.1
urllib3==2.2.1
